{{ block "details" . }}
<div id="details" style="display: flex;">
    {{ if . }}
    <div id="tasks" class="ms-3 mt-3" style="flex-shrink: 0; min-width: 300px;">
        <div class="accordion" id="accordion">
            {{- $urlTaskName := "" }}
            {{- if .TaskRun }}
            {{- $urlTaskName = .TaskRun.ObjectMeta.Name }}
            {{- end }}

            {{ $urlStep := .Step }}
            {{ $resource := .Resource }}
            {{ range $i, $tr := .TaskRuns }}
            {{ $taskName := $tr.ObjectMeta.Name }}
            {{ $taskNs := $tr.ObjectMeta.Namespace }}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button 
                        {{- if ne $taskName $urlTaskName -}}
                        {{" "}}collapsed
                        {{- end }}"
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#{{ $taskName }}" >
                        <span class="me-2">{{ $tr.Spec.TaskRef.Name }}</span>
                    </button>
                </h2>
                <div class="accordion-collapse collapse 
                    {{- if eq $taskName $urlTaskName -}}
                    {{" "}}show
                    {{- end }}" id="{{ $taskName }}" 
                    data-bs-parent="#accordion" >
                    <ul class="list-group-flush list-group" lass="collapse">
                        {{ range $tr.Status.Steps }}
                        <a href="#" 
                            class="list-group-item list-group-item-action text-bold
                            {{- if .Terminated }}
                            {{- if eq .Terminated.ExitCode 0 }}
                            {{" "}}text-success
                            {{- else }}
                            {{" "}}text-danger
                            {{- end }}
                            {{- end }}
                            {{- if eq $taskName $urlTaskName }}
                            {{- if eq .Name $urlStep -}}
                            {{" "}}active
                            {{- end }}
                            {{- end -}}
                            " data-bs-toggle="list"
                            hx-get="{{ url_for "details-w-step" $taskNs $taskName .Name }}"
                            hx-target="#step-details"
                            hx-push-url="{{ step_url $ $taskName .Name }}"
                            hx-swap="innerHTML" >
                            {{ .Name }}
                        </a>
                            {{ end }}
                    </ul>
                </div>
            </div>                
            {{ end }}
        </div>
    </div>
    <div id="step-details" class="ms-3 mt-3" style="flex-grow: 5; height: 100%; display: flex; flex-direction: column;">
        {{- if and .TaskRun .Step }}
        <div hx-get="{{ url_for "details-w-step" $.Namespace $.TaskRun.ObjectMeta.Name .Step }}"
            hx-trigger="load"
            hx-swap="outerHTML" >
        </div>
        {{- end }}
    </div>
    {{ else }}
    No details
    {{ end }}
</div>
{{ end }}

{{ define "step-details" }}
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        {{ range .TaskRun.Spec.Params }}
        <tr>
            <td>
                {{ .Name }}
            </td>
            <td>
                {{ .Value.StringVal }}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
<div style="flex-grow: 1;">
    <h3>{{ .Step }}</h3>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="log-tab" data-bs-toggle="tab" data-bs-target="#log" type="button" role="tab" aria-controls="log" aria-selected="true">Log</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="script-tab" data-bs-toggle="tab" data-bs-target="#script" type="button" role="tab" aria-controls="script" aria-selected="false">Script</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="details-tab" data-bs-toggle="tab" data-bs-target="#manifest" type="button" role="tab" aria-controls="details" aria-selected="false">Details</button>
        </li>
        <!--
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
        </li>
        -->
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="log" role="tabpanel" aria-labelledby="log-tab" tabindex="0">
            <pre class="text-bg-secondary"><code id="log"
                    hx-get="{{ url_for "log" .Namespace (obj_name .TaskRun) .Step }}"
                    hx-trigger="load"
                    >
            </code></pre>
        </div>
        <div 
            hx-get="{{ url_for "script" .Namespace (obj_name .TaskRun) .Step }}"
            hx-trigger="load"
            class="tab-pane" id="script" role="tabpanel" aria-labelledby="script-tab" tabindex="0">
           <!-- 
            <iframe 
                id="step-logs" 
                style="width: 100%; height: 100%"
                src="{{ url_for "script" .Namespace (obj_name .TaskRun) .Step }}"
                title="">
            </iframe>
           -->
        </div>
        <div 
            hx-get="{{ url_for "manifest" .Namespace (obj_name .TaskRun) }}"
            hx-trigger="load"
            class="tab-pane" id="manifest" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
        </div>
        <!--
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab" tabindex="0">...</div>
        -->
    </div>
</div>
{{ end }}
