{{ block "details" . }}
<div id="details" style="display: flex; height: 100%;">
    {{ if . }}
    <div id="tasks" class="ms-3 mt-3" style="flex-shrink: 0; min-width: 300px;">

        <div class="accordion" id="accordion">
            {{ $urlTaskName := .TaskName }}
            {{ $urlStepName := .Step }}
            {{ $resource := .Resource }}
            {{ $resourceName := .ResourceName }}
            {{ range $i, $tr := .TaskRuns }}
            {{ $taskName := $tr.ObjectMeta.Name }}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button 
                            {{- if ne $taskName $urlTaskName -}}
                            {{" "}}collapsed
                            {{- end }}"
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#{{ $taskName }}" >
                        <span class="me-2">{{ $tr.Spec.TaskRef.Name }}</span>
                    </button>
                </h2>
                <div class="accordion-collapse collapse 
                        {{- if eq $taskName $urlTaskName -}}
                        {{" "}}show
                        {{- end }}" id="{{ $taskName }}" 
                        data-bs-parent="#accordion" >
                    <ul class="list-group-flush list-group" lass="collapse">
                        {{ range $tr.Status.Steps }}
                        <a href="#" 
                            class="list-group-item list-group-item-action 
                            {{- if eq $taskName $urlTaskName }}
                            {{- if eq .Name $urlStepName -}}
                            {{" "}}active
                            {{- end }}
                            {{- end -}}
                            " data-bs-toggle="list"
                            hx-get="/details/{{ $taskName }}/step/{{ .Name }}"
                            hx-target="#step-details"
                            {{- if eq $resource "pipelineruns" }}
                            hx-push-url="/pipelineruns/{{ $resourceName }}/taskrun/{{ $taskName }}/step/{{ .Name }}"
                            {{- else }}
                            hx-push-url="/taskruns/{{ $resourceName }}/step/{{ .Name }}"
                            {{- end }}
                            hx-swap="innerHTML" >
                            {{ .Name }}
                        </a>
                        {{ end }}
                    </ul>
                </div>
            </div>                
            {{ end }}
        </div>
    </div>
    <div id="step-details" class="ms-3 mt-3" style="flex-grow: 5; height: 100%; display: flex; flex-direction: column;">
        {{- if and .TaskName .Step }}
        <div hx-get="{{ url_for "details-w-step" .TaskName .Step }}"
            hx-trigger="load"
            hx-swap="outerHTML" >
        </div>
        {{- end }}
    </div>
    {{ else }}
    No details
    {{ end }}
</div>
{{ end }}

{{ define "step-details" }}
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        {{ range .Task.Spec.Params }}
        <tr>
            <td>
                {{ .Name }}
            </td>
            <td>
                {{ .Value.StringVal }}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
<div style="flex-grow: 1;">
    <h3>{{ .StepName }}</h3>
    <iframe id="step-logs" style="width: 100%; height: 100%" src="/log/{{ .TaskName }}/step/{{ .StepName }}" title=""></iframe>
</div>
{{ end }}
