{{ $resource := .Resource }}
{{ range .Items }}
<tr {{ if .NextPage }}
    hx-get="{{ .NextPage }}"
    hx-trigger="revealed"
    hx-swap="afterend"
    {{ end }} >
    <td>
        {{/* <span>{{ .Name }}</span> */}}
        <a href="#" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            hx-get="{{ url_for "details" $resource .Name }}"
            hx-target="#details" 
            hx-swap="outerHTML" 
            hx-push-url="{{ url_for "list-w-details" $resource .Name }}" >
            {{ .Name }}
        </a>
    </td>
    <td>
        <span>{{ .Age }}</span>
    </td>
</tr>
{{ end }}
